<html>
<head>
  <meta charset="UTF-8">
  <title>かすのぶチャット</title>
</head>
<body>
  最新版のGoogle Chromeで開いてくださいね。<br />
  お名前<input type="text" id="name_input" style="width:200px;" />
  発言内容<input type="text" id="msg_input" style="width:200px;" />
  <button onclick="publishMessage();">発言</button>
  
  <div id="msg"></div>
  <script src="node_modules/socket.io-client/socket.io.js"></script>
  <script>
    // 1.イベントとコールバックの定義
    var socketio = io.connect('http://aochd.jp:3001');

    //socketio.on("connected", function(name) {});
    socketio.on("publish", function (data) { addMessage(data.value); });
    //socketio.on("disconnect", function () {});

    // 2.イベントに絡ませる関数の定義
    function start(name) {
      socketio.emit("connected", name);
    }

    function publishMessage() {
      var nameInput = document.getElementById('name_input');
      var textInput = document.getElementById('msg_input');
      var msg = "[" + nameInput.value + "] " + textInput.value;
      socketio.emit("publish", {value: msg});
      textInput.value = '';
    }

    function addMessage (msg) {
      var domMeg = document.createElement('div');
      domMeg.innerHTML = new Date().toLocaleTimeString() + ' ' + msg;
      msgArea.appendChild(domMeg);
      speak_text(msg);
    }

    // 3.開始処理
    var msgArea = document.getElementById("msg");
    //var myName = Math.floor(Math.random()*100) + "さん";
    //addMessage("貴方は" + myName + "として入室しました");
    //start(myName);

  function speak_text(text){
console.log(text);
    // unsupported.
    if (!'SpeechSynthesisUtterance' in window) {
        alert('Speech synthesis(音声合成) APIには未対応です.');
        return;
    }

    var speech = new SpeechSynthesisUtterance();
    speech.voiceURI = 'Google 日本人';
    speech.text = text;
    speech.lang = 'ja-JP';
    speech.rate = 1.2;
    speech.volume = 0.8;
    speech.pitch = 1.5;
    speechSynthesis.speak(speech);
  }

  </script>
</body>
</html>